/* menu decoration START */
a {
  font-size: 20px;
  text-transform: uppercase;
  color:mediumseagreen;
  text-decoration: none;
}
a:hover{
  color:seagreen;
  font-weight: bold;
}
/* menu decoration END */
#canvas1{
  width: 500px;
  height: 250px;
  border: 1px solid;
}