/* menu decoration START */
a {
  font-size: 20px;
  text-transform: uppercase;
  color:mediumseagreen;
  text-decoration: none;
}
a:hover{
  color:seagreen;
  font-weight: bold;
}
/* menu decoration END */
#canvas1{
  border: 2px solid lightseagreen;
}
input{
  border: 2px solid lightseagreen;
}